@import "resets/custom_bootstrap";
@import "~bootstrap/scss/bootstrap";
      
input.form-control 
  width: auto !important
.step1   
  input 
    max-width: 25rem
    width: 100%

.input-group-append  
  background-color: transparent !important  
  right: 1px !important
  top: 5px !important   
.input-group-text  
  border: none !important
.input-group > .form-control
  border-radius: 0.25rem !important 
