/* RESET START */

.btn-primary {
  color: #fff;
  background-color: #e81123;
  border-color: #e81123
}

.btn-primary:hover {
  color: #fff;
  background-color: #c40e1e;
  border-color: #b80e1c
}

.btn-primary.focus,
.btn-primary:focus {
  -webkit-box-shadow: 0 0 0 .2rem rgba(232, 17, 35, .5);
  box-shadow: 0 0 0 .2rem rgba(232, 17, 35, .5)
}

.btn-primary.disabled,
.btn-primary:disabled {
  background-color: #e81123;
  border-color: #e81123
}

.btn-primary:not([disabled]):not(.disabled).active,
.btn-primary:not([disabled]):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #b80e1c;
  border-color: #ad0d1a
}

.btn-primary:not([disabled]):not(.disabled).active:focus,
.btn-primary:not([disabled]):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 .2rem rgba(232, 17, 35, .5);
  box-shadow: 0 0 0 .2rem rgba(232, 17, 35, .5)
}

/* RESET END */

p {
  margin-bottom: 0.5rem;
}

.resetPassword {
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

.noty_theme__mint.noty_type__error {
  background-color: #ff8c00;
  border-bottom: 1px solid #ff8c00;
  color: #fff;
}

.noty_theme__mint.noty_type__info, .noty_theme__mint.noty_type__information {
  background-color: #0078d7;
  border-bottom: 1px solid #0078d7;
  color: #fff;
}

.noty_theme__mint.noty_type__warning {
  background-color: #000000;
  border-bottom: 1px solid #000000;
  color: #fff;
}

#app {
  min-height: calc(100vh - 57px);
}

body {
  font-family: "PT Sans", sans-serif;
}
